.qla-options-list {
  position: absolute;
  bottom: 79%;
  right: -173%;
  list-style-type: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  font-size: 13px;
  padding-left: 0;
}

.qla-options-list::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
}

.qla-options-list li {
  padding: 10px;
}

.qla-options-list li:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
