.qla-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  height: 50px;
  font-size: 14px;
}

.qla-navigation {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.qla-navigation li {
  display: flex;
  padding: 15px;
  align-items: center;
}

.qla-navigation .qla-active-tab {
  border-bottom: 2px solid #b92b27;
  color: #b92b27;
}

.qla-navigation .qla-active-tab .icon_svg-fill_as_stroke {
  fill: rgb(185, 43, 39);
}

.qla-navigation li:hover,
.qla-profile:hover {
  background-color: rgb(247, 241, 241);
  cursor: pointer;
}

.qla-navigation li svg,
.qla-search svg {
  margin-right: 5px;
}

.qla-search {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #dee0e1;
  border-radius: 5px;
  margin: 5px;
}

.qla-search:hover {
  border: 1px solid rgb(8, 111, 245);
}

.qla-search input {
  border: none;
  outline: none;
  width: 90%;
}

.qla-search input::placeholder {
  color: rgb(117, 117, 117);
}

.qla-profile {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.qla-profile img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.qla-add-question button {
  color: white;
  background-color: #b92b27;
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  outline: currentcolor none medium;
}

.qla-add-question button:hover {
  background-color: rgb(155, 36, 32);
  cursor: pointer;
}

.qla-add-question button:focus {
  background-color: rgb(155, 36, 32);
  box-shadow: rgba(46, 105, 255, 0.75) 0 0 0 2px;
}
